streamlit==1.25.0
pandas==1.5.3
pycaret==3.3.0  # Using PyCaret 3.3.0
streamlit-option-menu==0.3.6
catboost==1.2
pillow==9.5.0
scikit-learn==1.1.0  # Upgrade scikit-learn to be compatible with PyCaret 3.3.0
